:root {
	--border-small-050: 1px solid var(--divider-005-color);
	--border-small-100: 1px solid var(--border-color);
	--grey-300-border-color: #e5e7eb; /* gray-300 equivalent */
	--grey-400-border-color: #cbd5e0; /* gray-300 equivalent */

	--bg-grey: #f5f7f8; /* gray-300 equivalent */
	--bg-grey-400: #cbd5e0; /* gray-300 equivalent */


}
